.type-transfer{
    background-color: white;
    padding: 24px;
    margin: 0;
    /* min-height: 280px; */
}
.fund-amount-transfer{
    background-color: white;
    padding: 24px;
    margin: 0;
}

.terms-cond-box{
    background-color: white;
    padding: 24px;
    margin: 0;
}
.back-btn-css{
    margin-right: 10px;
    background-color: white !important;
    color: black !important;
    border-radius: 15px !important;
}
.confirm-btn-css{
    border-radius: 15px !important;
}