.transfer-option{
    background-color: white;
    padding: 24px;
    margin: 0;
    min-height: 280px;
}
.user-profile-transfer{
    background-color: white;
    padding: 24px;
    margin: 0;
    min-height: 280px;
}
.benefiecies-style{
    background-color: white;
    padding: 24px;
    margin: 0;
    /* min-height: 200px; */
}
.Help-in-transfer{
    background-color: white;
    padding: 30px;
    margin: 0;
}
.beneficied-user{
    background-color: white;
    /* padding: 20px; */
    margin: 0;
    border-radius: 20px;
    border: 2px solid;
}
.customer-executive{
    background-color: white;
    padding: 24px;
    padding-left: 30px;
    margin: 0;
    min-height: 120px;
}
.card-style{
    padding-bottom: 20px;
}
.portfolio-image{
    width: 58%;
    float: right;
}
.portfolio-css{
    padding-top: 125px;
}