#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  .ant-menu-submenu-arrow{
    display: none;
  }
  .ant-breadcrumb-separator{
    display: none;
  }
  .tab-style{
    padding-right: 30px;
  }
  @media screen and (min-width: 1700px){
      .content{
        padding-bottom: 165px !important;
        padding-top: 165px !important;
      }
  }